* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container_geral {
    width: 100%;
    height: 100%;
    background-color: darkslategray;
  }
  
  .navbar {
    position: sticky;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    padding: 0.5rem;
  
    box-shadow: 0 0.5rem 0.6rem 0 #00000050;
    background-color: #1f33a1;
  }
  .logo {
    width: 20;
    height: 100%;
  }
  .titulo_subtitulo {
    width: 100%;
    height: 100%;
    background-color: darkslategray;
  }
  .card {
    width: 100wv;
    height: 100hv;
    background-color: darkslategray;
    margin: 10px;
    display: inline-block;
  }
  .sobre {
    width: 100%;
    height: 100%;
    background-color: darkslategray;
  }
  .newsletter {
    width: 100%;
    height: 100%;
    background-color: darkslategray;
  }
  