body {
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  text-align: center;
}

.container {
  width: auto;
  height: auto;
  padding: 0px 50px;
}

.navbar {
  padding: 0px 40px;
  width: auto;
  list-style-type: none;
  background: rgb(103, 247, 8);
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
}

.logo {
  width: 20;
  height: 100%;
}
.titulo_subtitulo {
  width: 100%;
  height: 100%;
  background-color: darkslategray;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  min-width: 250px;
  height: auto;
  background-color: rgb(34, 35, 35);
  margin: 10px;
  text-align: center;
}
.sobre {
  width: 100%;
  height: 100%;
  background-color: darkslategray;
}
.foto_dev img {
  width: 5vw;
  height: auto;
  border-radius: 50%;
  margin-top: 30px;
}
.newsletter {
  width: 100%;
  height: 100%;
  background-color: darkslategray;
}